body {
    box-sizing: border-box;
    margin: auto;
    background-color: #FAFAFA;

}

.ul {
    list-style-type: square;
    margin: 50%;
}


/* NAVIGATION STYLES */
.nav {
    display: flex;
    padding: 20px;
    background-color: rgb(238, 238, 238);
    flex-direction: row;
    justify-content: space-around;

}

.brandname {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}

#btn1 {
    background-color: #0F298B;

    border-radius: 8%;
    font-size: larger;
    padding: auto;
    margin: 0;
}

#btn1>a {
    color: white;
}

.topnav>ul {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    width: 100%;

}

.topnav>ul>li {
    display: inline;
    margin: 10px;
    list-style: none;

}

/* SECTION A STYLE  */

.top-section {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    height: 30vh;
}

.fonty {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 50%;
}

.fonty>.learnmore {
    width: 30%;
    background-color: #0F298B;
    color: #f8f8f8;
}

.help {
    font-family: monospace;
    font-size: 42px;
    color: #0F298B;

}

.image1 {
    display: flex;
    justify-content: space-around;
}

/* SECTION C  */
h4{
    color: #0F298B;
    font-size: larger;
}

.highlight{
    height: 40vh;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 50px;

}
.inside>h4{
    color: #0F298B;

}
.center {
    display: flex;
    justify-content: center;
    background-color: white;
}

.mid {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.right {
    margin: 4%;
    font-size: xx-large;
}

.large {
    font-family: monospace;
    font-size: large;
}


/* SECTION D  */
.listing{
    font-size: larger;
    display: flex;
    list-style-type: square;
}

/* SECTIION E  */

.row {
    background-color: #FAFAFA;
    display: flex;
    padding: 20px;
    align-content: flex-start;

}

.view {
    color: #FAFAFA;
    background-color: #0F298B;
    display: flex;
    justify-content: right;
}

.image3 {
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 60px;
}

.image4 {
    padding-left: 80px;
    margin-right: 60px;
    padding-left: 40px;
    margin-left: 100px;
}

.image5 {
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 60;
    padding-right: 100px;
}

/* SECTION F  */
.customers{
    margin: 30px;
   

}
.esteemed{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.esteemed>h4{
    color: #0F298B;
}
.alex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* FOOTER */
.foot{
    color: #FAFAFA;
    background-color: #0F298B;
    display: flex;
    justify-content: space-around;
    
}
h5{
    font-size: large;
}
.para{
    display: flex;
    text-align: left;
    flex-direction: column;
}