body {
    box-sizing: border-box;
    margin: auto;
    max-width: fit-content;
}
ul {
    list-style: block;
}

.topnav {
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    margin-left: 60%;
}

.button {
    text-align: right;
    color: #0F298B;
    display: flex;
    justify-content: flex-end;

}

footer {
    background-color: rgb(15, 95, 175);
    display: inline-block;
    text-align: block;

}

.center {
    color: blue;
}


/* SECTION A STYLE  */

.top-section {
    background-color: #FAFAFA;
    display: flex;
    justify-content:space-around;
    flex-direction:row;
}
.fonty{
    font-family: monospace;
    font-size: x-large;
    color: #0F298B;
}
h1{
    font-style: calc(Space grotext);
}