body {
    box-sizing: border-box;
    margin: auto;
    background-color: #FAFAFA;

}
.ul{
    list-style-type: square;
    margin: 50%;
}

.topnav {
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    margin-left: 60%;
}

.button {
    text-align: right;
    color: #FAFAFA;
    display: flex;
    justify-content: flex-end;
    background-color: #0F298B;

}

footer {
    background-color: rgb(15, 95, 175);
    display: inline-block;
    text-align: block;
}

/* SECTION A STYLE  */

.top-section {
    background-color: #FAFAFA;
    display: flex;
    justify-content:space-around;
    flex-direction:row;
}
.fonty{
    font-family: monospace;
    font-size: x-large;
    color: #0F298B;
}
h1{
    font-style: calc(Space grotext);
}
h4{
    color: #0F298B;
    font-size: xx-large;
}
.highlight{
    color: #0F298B;
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    max-width: fit-content;
    margin: 10%;
}
.left{
    color: #0F298B;
    display: flex;
    justify-content: flex-start;
}
.image1{
    display: flex;
    justify-content: end;
    background-color: #FAFAFA;
    margin-left: 100px;
    margin-bottom: auto;
}
.search{
    color: #FAFAFA;
    background-color: #0F298B;
    display: flex;
    margin: 5%;
}
/* SECTION C  */
.center{
    display: flex;
    justify-content: center;
    background-color: white;
}
.mid{
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.right{
    margin:4%;
    font-size: xx-large;
}
.large{
    font-family: monospace;
    font-size: large;
}

/* SECTIION E  */
.row{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    margin-left: 70%;

}
.view{
    color: #FAFAFA;
    background-color: #0F298B;
    display: flex;
    justify-content: right;
}

.image3{
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 60px;
}
.image4{
    padding-left: 80px;
    margin-right: 60px;
    padding-left: 40px;
    margin-left: 100px;
}
.image5{
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 60;
    padding-right: 100px;
}
 
/* SECTION F  */
.block{
    display: inline-table;
}
