body {
    box-sizing: border-box;
    margin: auto;
    background-color: #FAFAFA;

}
ul {
    list-style: block;
}

.topnav {
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    margin-left: 60%;
}

.button {
    text-align: right;
    color: #0F298B;
    display: flex;
    justify-content: flex-end;

}

footer {
    background-color: rgb(15, 95, 175);
    display: inline-block;
    text-align: block;
}

/* SECTION A STYLE  */

.top-section {
    background-color: #FAFAFA;
    display: flex;
    justify-content:space-around;
    flex-direction:row;
}
.fonty{
    font-family: monospace;
    font-size: x-large;
    color: #0F298B;
}
h1{
    font-style: calc(Space grotext);
}
h4{
    color: #0F298B;
    font-size: xx-large;
}
.highlight{
    color: #0F298B;
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    max-width: fit-content;
    margin: 10%;
}
.left{
    color: #0F298B;
    display: flex;
    justify-content: flex-start;
}
.image1{
    display: flex;
    justify-content: end;
    background-color: #FAFAFA;
    margin-left: 100px;
    margin-bottom: auto;
}
.search{
    color: #0F298B;
    background-color: #FAFAFA;
    display: flex;
    margin: 5%;
}
/* SECTION C  */
.center{
    display: flex;
    justify-content: center;
    background-color: white;
}
.mid{
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.p1{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

/* SECTIION E  */
.row{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    padding : 40px;

}

